* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

li:hover {
    background-color: black;
    color: white;
}

main {
    display: flex;
    width: 100%;
}

.main {
    width: 100%;
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-size: 20px;
    line-height: 1.5;

}

header {
    display: flex;
    background-color: #f5f2f0;
    user-select: none;
}

.name {
    flex-grow: 1;
    align-self: center;
    text-align: center;
}

.name>h1 {
    font-size: 60px;
    margin-bottom: 10px;
    position: relative;
}

.section-header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 10px 0 20px;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

.about-me {

    text-decoration: none;
    color: black;
}

.contacts-list>ul>a {
    text-decoration: none;
    color: black;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 750px;
    min-height: 100vh;
    margin: auto;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f2f0;
}

.footer_rsschool>a>img {
    width: 100px;
    position: relative;
    top: 3px;
}

.footer_github>a {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.footer_year {
    width: 100px;
    text-align: center;
    font-size: 27px;
    line-height: 37px;
    font-weight: bold;
}